body {
    /*background-image: url("../images/pexels-photo-297642.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
}

.form-signin-heading {
  top: 20%;
  position: fixed;
  left: 70%;
  transform: translate(-50%, -50%);
}

.form-signin {
    padding: 30px;
    background-color: rgba(133, 133, 133, 0.7);
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 15px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 15px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}
