<div class="col-md-10 col-md-offset-1 profile-info">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12">
      <img ng-src="{{ friend.image }}" class="img-circle">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-xs-12">
      <h2>{{ friend.first_name }} {{ friend.last_name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-xs-12">
      <p>{{ friend.city }}, {{ friend.country }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h3>{{ friend.posts_nb }}</h3>
      posts
    </div>
    <div class="col-xs-4">
      <h3>{{ friend.friends.length }}</h3>
      friends
    </div>
    <div class="col-xs-4">
      <h2><button class="btn btn-default" ng-click="sendFriendRequest(user._id, friend._id)"
          ng-hide="checkIsFriend(friend._id) || checkRequestSent(friend._id)">Add friend</button>
      <button class="btn btn-default" ng-click="cancelSentFriendRequest(user._id, friend._id)"
          ng-hide="checkIsFriend(friend._id) || !checkRequestSent(friend._id)">Friend request sent - cancel</button>
      <button class="btn btn-default" ng-click="unfriend(user._id, friend._id)"
          ng-show="checkIsFriend(friend._id)">Unfriend</button</h2>
    </div>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
    <div class="row">
    <div class="about">
      <h3>&nbsp;About me:</h3>
      <div class="post-section">
        <p>{{ friend.bio }}</p>
      </div>
    </div>

  </div>
  <br>

    <div class="row">
      <h3>&nbsp;Posts:</h3>
      <div class="post-section" ng-repeat="post in news track by $index">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <img ng-src="{{ friend.image }}" class="profile-img">
          </div>
          <div class="col-sm-10 col-xs-10">
            <strong>{{ post.user }}</strong><br>
            <span class="post_date">{{ post.date | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
        </div>
        <div class="row postContent">
          <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            {{ post.contentText }}
            <div ng-if="post.contentImage !== undefined">
              <image ng-if="post.contentImage.endsWith('.jpg')" ng-src="{{ post.contentImage }}" class="post-img">
              <video ng-if="post.contentImage.endsWith('.mp4')" width="320" height="240" controls>
                <source src="{{ post.contentImage }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div><br>
            <div class="shared-post-section" ng-if="post.contentShared !== undefined">
                <div class="row">
                  <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                    <img ng-src="{{ post.sharedPostInfo.userImage }}" class="profile-img">
                  </div>
                  <div class="col-sm-10 col-xs-10">
                    <strong>{{ post.sharedPostInfo.user }}</strong><br>
                    <span class="post_date">{{ post.sharedPostInfo.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                  </div>
                </div>
                <div class="row postContent">
                  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    {{ post.sharedPostInfo.contentText }}
                    <div ng-if="post.sharedPostInfo.contentImage !== undefined">
                      <image ng-if="post.sharedPostInfo.contentImage.endsWith('.jpg')" ng-src="{{ post.sharedPostInfo.contentImage }}" class="post-img">
                      <video ng-if="post.sharedPostInfo.contentImage.endsWith('.mp4')" width="320" height="240" controls>
                        <source src="{{ post.sharedPostInfo.contentImage }}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    </div><br>
                  </div>
                </div>
            </div>
          </div>
          </div><br>
      </div>


  </div>
