<ion-tabs class="tabs-icon-top">
    <ion-tab title="Timeline" icon-on="ion-ios-world" 
      icon-off="ion-ios-world-outline" href="#/main/timeline">
        <ion-nav-view name="main-timeline"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon-on="ion-ios-people" 
      icon-off="ion-ios-people-outline" href="#/main/friends">
        <ion-nav-view name="main-friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="More" icon="ion-ios-drag" href="#/main/more">
        <ion-nav-view name="main-more"></ion-nav-view>
    </ion-tab>
</ion-tabs>