
<!--<div class="bar bar-header bar-light">
    <h1 class="title">Settings</h1>
</div>-->

<ion-view view-title="More" hide-back-button="true">
    
<ion-header-bar class="bar-light">
   <h1 class="title">More</h1>
</ion-header-bar>


<ion-content class="has-header" has-tabs="true">
    <div class="list">
        <a class="item item-icon-left" href="#/main/myProfile">
            <i class="icon ion-ios-person"></i>
            Profile
        </a>
        <div class="item item-divider">
            Other
        </div>
        <a class="item item-icon-left" href="#/main/editProfile">
            <i class="icon ion-edit"></i>
            Edit profile
        </a>
        <a class="item item-icon-left" ng-click="logOut()">
            <i class="icon ion-power"></i>
            Log out
        </a>
    </div>
</ion-content>
    
</ion-view>